### 1. "Pithon"이라는 문자열을 "Python"으로 바꾼후 출력하라.

In [2]:
a = "Pithon"

# b = a[]..... 즉 변수 b를 변수 a와 연산자(+,-,*,/ 등)을 이용하여 나타내시오.

print b

TypeError: 'str' object does not support item assignment

### 2. 다음 문자열의 양쪽 공백을 지운 문자열을 출력하라.

In [2]:
a = " hi "
print a

 hi

### 3.  input list `a = [1, 2, 3]`이 주어졌을 때, `[1, 2, 3, 1, 2, 3, 1, 2, 3]`을 출력하라.

In [3]:
a = [1, 2, 3]

### 4.  다음 리스트를 내림차순으로 정렬하여라.

In [4]:
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

### 5.  다음 두집합의 교집합을 구하라.

In [5]:
s1 = {1, 2, 3, 4, 5, 6}
s2 = {4, 5, 6, 7, 8, 9}

### 6.  홍길동씨의 주민등록번호는 881120-1068234이다. 홍길동씨의 주민등록번호를 연월일부분과(YYYYMMDD) 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [6]:
a = "12345678-9876543"

# print a.... 이런 형식으로 나타내라. 즉 변수 a를 사용하여 주민등록번호의 앞부분을 표현하라.
# print a.... 변수 a를 사용하여 주민등록번호의 뒷부분을 표현하라.

### 7.  주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

In [7]:
"""
출력된 결과값 :
1
"""

pin = "881120-1068234"

### 8.  다음 리스트를 문자열로 만들어서 출력해 보자.

In [8]:
"""
출력된 결과값 :
Life is tpp short
"""

a = ["Life", "is", "too", "short"]

### 9.  (1, 2, 3)이라는 튜플에 4라는 값을 추가하여 (1, 2, 3, 4)처럼 만들어 출력해 보자.

In [9]:
a = (1, 2, 3)

### 10.  딕셔너리 a에서 key "B"에 해당되는 값을 추출하고 삭제해보자.

In [10]:
a = {"A" : 90, "B" : 80, "C" : 70}

### 11.  다음 리스트에서 중복된 숫자들을 제거한 후 출력하라.

In [11]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

### 12.  다음과 같이 점수가 주어졌을 때, 점수가 60점 이상인 사람에게는 축하 메세지를 출력하고 나머지 사람에게는 아무런 메세지를 출력하지 않는 프로그램을 작성해보자.

In [12]:
"""
- input : scores = [90, 25, 67, 45, 80]
1번 학생의 점수 : 90
2번 학생의 점수 : 25
3번 학생의 점수 : 67
4번 학생의 점수 : 45
5번 학생의 점수 : 80

- 합격조건 : 60점 이상의 점수

- 출력 문구 : X번째 학생은 합격입니다. 
"""

scores = [90, 25, 67, 45, 80]

### 13.  while문을 이용하여 아래와 같이 별(*)을 표시하는 프로그램을 작성해 보자. 출력값은 아래와 같다.

In [13]:
"""
출력된 결과값
*
**
***
****
*****
"""

i = 0

### 14.  20 이하의 짝수만 출력하는 프로그램을 만들어라. (while, break 문)

In [14]:
# 출력된 결과값 : 2 4 6 8 9 10 12 14 16 18 20

### 15.  1~100까지의 합을 구하는 프로그램을 만들어라. (for문, range() 함수)

In [15]:
# 출력된 결과값 : 5050

### 16.  A학급에 총 10명의 학생이 있다. 이 학생들의 중간고사 점수는 다음과 같을 때 학급 평균 점수를 구해보자.

In [16]:
scores = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]